* {
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    }

    /*-----------------------------HEADER-----------------------------*/
.headpag{
    height: 80%;
        width: 100%;
        background-color: #FFFFFF;
}
.logo{
    margin-left:36%;
    height: 20%;
    width: 20%;
    display: inline block;
}
.lupita{
    display: inline-block;
    width: 2%;
    margin-bottom: 3%;
    margin-left: 1%;
}

.carri{
    display: inline-block;
    width: 2%;
    margin-bottom: 3%;
    margin-left: 1%;
}
.persona{
    display: inline-block;
    width: 2%;
    margin-bottom: 3%;
    margin-left: 33%;
}


.links{
    color: #262323;
    font-family: "Julius Sans One", sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    font-size: 180%;
}


/*---------------------BODY-----------------------------*/

main{
    background-color: #262323;
    height: 100vh;
}


.formulario{
    color: #F8F0F0;
    font-size: 200%;
    margin-left: 50%;
}

.formulario button{
    font-size: 70%;
    color: #262323;
}

.carrusel{
    display: flex;
    width: 60%;
    height: 86%;
    margin-left: 23%;
    
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: .5 ease;
    margin-top: 70px;
    margin-bottom: 20px;
}

section img:hover{
    cursor: crosshair;
    width: 400px;
    filter: contrast(100%);
}

.remeras{
    background-color:#F8F0F0; 
    font-family: "Julius Sans One", sans-serif;
    margin-top: 200px;
}

.remenegra{
    width: 30%;
    display: inline-block;
    margin-left: 25%;
}

.remenegraback{
    width: 27%;
    display: inline-block;
}

.precios{
    font-size: 220%;
    color: #262323;
    display: inline block;
    margin-left: 28%;
}

.talles{
    display:inline block;
    margin-left: 26%;
    font-size: 200%;
    border-left: #262323;
}

.nombresremes{
    font-size: 190%;
    display: inline-block;
    margin-left: 20%;
}